#chart-area svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#info-summary-box {
  display: flex;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #d4d8da;
  border-radius: 10px;
}

#logo {
  height: 50px;
}

#data-filters-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #d4d8da;
  border-radius: 10px;
}

#data-filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#filter-by-text {
  color: #777;
  margin-bottom: 10px;
}

.navbar-brand {
  height: 60px;
  padding: 5px 0px;
}

.dropdown {
  display: flex !important;
  flex-direction: column !important;
}

.control-buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.reset-btn {
  margin-right: 10px;
}

body {
  background-color: #f1f3f3;
}

.axis {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #d4d8da;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 2px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #f1f3f3;
  stroke: #777;
  stroke-width: 3px;
}

.hover-line {
  stroke: #777;
  stroke-width: 2px;
  stroke-dasharray: 3, 3;
}

#selections .col-md-4 {
  padding-top: 10px;
  padding-bottom: 10px;
}
